In [284]:
import numpy as np
import pandas as pd

In [285]:
data = pd.read_csv("data/weather_data.csv", delimiter = ',')
data.head()

,month,date,time,temperature,rain(mm),rain_percent,cloud_percent,pressure(mb),wind(km/h),gust(km/h),weather
0,1,1,00:00,18,0.2,0,100,1015,3,5,Patchy rain possible
1,1,1,03:00,17,0.3,0,100,1014,5,7,Patchy rain possible
2,1,1,06:00,17,0.2,0,100,1015,6,8,Patchy rain possible
3,1,1,09:00,17,0.0,0,100,1017,6,12,Overcast
4,1,1,12:00,17,0.0,0,99,1015,6,12,Overcast

In [286]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38992 entries, 0 to 38991
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          38992 non-null  int64
 1   date           38992 non-null  int64
 2   time           38992 non-null  object
 3   temperature    38992 non-null  int64
 4   rain(mm)       38992 non-null  float64
 5   rain_percent   38992 non-null  int64
 6   cloud_percent  38992 non-null  int64
 7   pressure(mb)   38992 non-null  int64
 8   wind(km/h)     38992 non-null  int64
 9   gust(km/h)     38992 non-null  int64
 10  weather        38992 non-null  object
dtypes: float64(1), int64(8), object(2)
memory usage: 3.3+ MB

# Nhận xét
Dữ liệu không có trống nhưng ta kiểm tra xem có giá trị nào bằng 0.0 hay không

In [287]:
len(data[data['temperature']== 0.0])

0

In [288]:
len(data[data['rain_percent']== 0.0])

38992

In [289]:
len(data[data['cloud_percent']== 0.0])

720

In [290]:
len(data[data['pressure(mb)']== 0.0])

0

In [291]:
len(data[data['gust(km/h)']== 0.0])

6

In [292]:
len(data[data['wind(km/h)']== 0.0])

71

In [293]:
len(data[data['weather']== 0.0])

0

# Nhận xét
- Có một số dữ liệu là 0.0 nhưng hầu hết là hợp lý trừ trường hợp của "temperature" vì Hà Nội chưa bao giờ có nhiệt độ là 0 độ C.
- Giá trị của thuộc tính rain_percent đều là = 0, vậy nên chúng ta sẽ loại bỏ thuộc tính này

In [294]:
data[data['temperature']==0.0]

Empty DataFrame
Columns: [month, date, time, temperature, rain(mm), rain_percent, cloud_percent, pressure(mb), wind(km/h), gust(km/h), weather]
Index: []

# Xử lý dữ liệu

In [295]:
# Sao chép cột 'weather' vào cột mới 'current_weather'
data['current_weather'] = data['weather'].copy()

# Đổi vị trí cột 'current_weather' và cột 'weather'
data = data.reindex(columns=['month', 'date', 'time', 'temperature', 'rain(mm)', 'rain_percent', 'cloud_percent', 'pressure(mb)', 'wind(km/h)', 'gust(km/h)', 'current_weather', 'weather'])

In [296]:
# Biến đổi giá trị của cột cuối cùng thành giá trị của dòng trước đó
data.iloc[:, -1] = data.iloc[:, -1].shift(-1)
data

,month,date,time,temperature,rain(mm),rain_percent,cloud_percent,pressure(mb),wind(km/h),gust(km/h),current_weather,weather
0,1,1,00:00,18,0.2,0,100,1015,3,5,Patchy rain possible,Patchy rain possible
1,1,1,03:00,17,0.3,0,100,1014,5,7,Patchy rain possible,Patchy rain possible
2,1,1,06:00,17,0.2,0,100,1015,6,8,Patchy rain possible,Overcast
3,1,1,09:00,17,0.0,0,100,1017,6,12,Overcast,Overcast
4,1,1,12:00,17,0.0,0,99,1015,6,12,Overcast,Patchy rain possible
...,...,...,...,...,...,...,...,...,...,...,...,...
38987,5,11,09:00,30,0.0,0,75,1012,8,9,Cloudy,Light rain shower
38988,5,11,12:00,33,0.5,0,54,1010,12,19,Light rain shower,Light rain shower
38989,5,11,15:00,32,1.2,0,62,1008,14,22,Light rain shower,Light rain shower
38990,5,11,18:00,25,1.9,0,100,1010,28,59,Light rain shower,Light rain shower
38991,5,11,21:00,23,0.6,0,100,1013,24,35,Light rain shower,None

# Loại bỏ thuộc tính dư thừa
Ở đây chúng ta thấy cột time và date có thể loại bỏ vì giá trị của nó không có nhiều ảnh hưởng đến dự đoán thời tiết.

In [297]:
# data.drop('month', axis=1, inplace=True)
data.drop('date', axis=1, inplace=True)
data.drop('time', axis=1, inplace=True)
data.drop('rain_percent', axis=1, inplace=True)
data

,month,temperature,rain(mm),cloud_percent,pressure(mb),wind(km/h),gust(km/h),current_weather,weather
0,1,18,0.2,100,1015,3,5,Patchy rain possible,Patchy rain possible
1,1,17,0.3,100,1014,5,7,Patchy rain possible,Patchy rain possible
2,1,17,0.2,100,1015,6,8,Patchy rain possible,Overcast
3,1,17,0.0,100,1017,6,12,Overcast,Overcast
4,1,17,0.0,99,1015,6,12,Overcast,Patchy rain possible
...,...,...,...,...,...,...,...,...,...
38987,5,30,0.0,75,1012,8,9,Cloudy,Light rain shower
38988,5,33,0.5,54,1010,12,19,Light rain shower,Light rain shower
38989,5,32,1.2,62,1008,14,22,Light rain shower,Light rain shower
38990,5,25,1.9,100,1010,28,59,Light rain shower,Light rain shower
38991,5,23,0.6,100,1013,24,35,Light rain shower,None

Xoá hàng có giá trị None

In [298]:
data = data.dropna()
data

,month,temperature,rain(mm),cloud_percent,pressure(mb),wind(km/h),gust(km/h),current_weather,weather
0,1,18,0.2,100,1015,3,5,Patchy rain possible,Patchy rain possible
1,1,17,0.3,100,1014,5,7,Patchy rain possible,Patchy rain possible
2,1,17,0.2,100,1015,6,8,Patchy rain possible,Overcast
3,1,17,0.0,100,1017,6,12,Overcast,Overcast
4,1,17,0.0,99,1015,6,12,Overcast,Patchy rain possible
...,...,...,...,...,...,...,...,...,...
38986,5,25,0.0,57,1010,5,9,Partly cloudy,Cloudy
38987,5,30,0.0,75,1012,8,9,Cloudy,Light rain shower
38988,5,33,0.5,54,1010,12,19,Light rain shower,Light rain shower
38989,5,32,1.2,62,1008,14,22,Light rain shower,Light rain shower
38990,5,25,1.9,100,1010,28,59,Light rain shower,Light rain shower

Encode giá trị thời gian

In [299]:
# # # Tạo một dictionary ánh xạ giá trị của time sang số
# time_mapping = {'00:00': 0, '03:00': 1, '06:00': 2, '09:00': 3, '12:00': 4, '15:00': 5, '18:00': 6, '21:00': 7}

# # # Áp dụng ánh xạ lên cột "time" để mã hoá thành số
# data['time'] = data['time'].astype(str)
# data['time'] = data['time'].map(time_mapping)
# data

# Xử lý dữ liệu nhãn

khảo sát giá trị

In [300]:
label_value = data["weather"].unique()
label_value

array(['Patchy rain possible', 'Overcast', 'Cloudy', 'Partly cloudy',
       'Clear', 'Heavy rain at times', 'Moderate rain at times',
       'Moderate or heavy rain shower', 'Light rain shower',
       'Patchy light drizzle', 'Light drizzle', 'Mist',
       'Thundery outbreaks possible', 'Light rain', 'Fog'], dtype=object)

biến đổi

In [301]:
# Tạo bản đồ ánh xạ giữa giá trị ban đầu và giá trị số tương ứng
label_mapping = {value: i for i, value in enumerate(label_value)}

# Áp dụng ánh xạ để chuyển đổi cột "weather" thành giá trị số
data["weather"] = data["weather"].map(label_mapping)
data["current_weather"] = data["current_weather"].map(label_mapping)

data

C:\Users\Nomocp\AppData\Local\Temp\ipykernel_19168\3211055958.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["weather"] = data["weather"].map(label_mapping)
C:\Users\Nomocp\AppData\Local\Temp\ipykernel_19168\3211055958.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["current_weather"] = data["current_weather"].map(label_mapping)

,month,temperature,rain(mm),cloud_percent,pressure(mb),wind(km/h),gust(km/h),current_weather,weather
0,1,18,0.2,100,1015,3,5,0,0
1,1,17,0.3,100,1014,5,7,0,0
2,1,17,0.2,100,1015,6,8,0,1
3,1,17,0.0,100,1017,6,12,1,1
4,1,17,0.0,99,1015,6,12,1,0
...,...,...,...,...,...,...,...,...,...
38986,5,25,0.0,57,1010,5,9,3,2
38987,5,30,0.0,75,1012,8,9,2,8
38988,5,33,0.5,54,1010,12,19,8,8
38989,5,32,1.2,62,1008,14,22,8,8
38990,5,25,1.9,100,1010,28,59,8,8

In [302]:
label_value_num = data["weather"].unique()
label_value_num

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
      dtype=int64)

In [303]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38991 entries, 0 to 38990
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   month            38991 non-null  int64
 1   temperature      38991 non-null  int64
 2   rain(mm)         38991 non-null  float64
 3   cloud_percent    38991 non-null  int64
 4   pressure(mb)     38991 non-null  int64
 5   wind(km/h)       38991 non-null  int64
 6   gust(km/h)       38991 non-null  int64
 7   current_weather  38991 non-null  int64
 8   weather          38991 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 3.0 MB

In [304]:
# Lưu lại file đã xử lý tên: processed_weather_data.csv
data.to_csv("data/processed_weather_data.csv", index=False)